<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body { text-align:center;font-family:helvetica,arial;font-size:22px;
       +    color:#888;margin:20px}
       +  #c {margin:0 auto;width:500px;text-align:left}
    </style>
  </head>
  <body>
    <h1>Recipes!</h1>
    <% @recipes.each do |recipe| %>
    <ol>
    <li><%= recipe.name %></li>
    <p><%= recipe.ingredients %></p>
    <p><%= recipe.cook_time %></p>
    <p><a href="/recipes/#{@recipe.id}">More info</a></p>
    <% end %>
    </ol>
  </body>
</html>